body{
  background-color: #d9d9d9;
  /*box-sizing: border-box;*/
  /*position: relative;*/
}
.grid {
  border-bottom: 5px solid;
  height: 194px;
  width: 224px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  text-align: center;
}
h3{
  text-align: center;
}

.grid div {
  border: 1px solid;
  height: 30px;
  width: 30px;
}
div .last{
  border: none;
}
.player-one {
  background-color: red;
  border-radius: 10px;
}

.player-two {
  background-color: blue;
  border-radius: 10px;
}